:root {
  /* Colors */
  --active-states-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --subtle-background-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --modal-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  display: block;
}

.icon {
  fill: var(--light-background-color)
}

.logo-accent {
  color: var(--hero-background-color);
}

address {
  font-style: normal;
  margin-left: auto;
}

address a:hover,
address a:focus {
  color: var(--active-states-color);
}

header nav .logo {
  text-transform: uppercase;
  color: var(--active-states-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header {
  border-bottom: 1px solid var(--subtle-background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  margin-right: o;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.link-nav {
  position: relative;
  display: block;
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link-nav:hover,
.link-nav:focus {
  color: var(--pressed-state-color);
}

.current {
color: var(--pressed-state-color);

}
.current::after {
  content: '';
  position: absolute;
  color: var(--pressed-state-color);
  left: 0; 
  bottom: -1px; 
  height: 4px; 
  width: 100%;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
}

.contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

.hero {
  max-width: 1440px; 
  background-color: var(--dark-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.btn {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  background-color: var(--active-states-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white-background-color);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--active-states-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
}

.btn-secondary {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-states-color);
  background-color: var(--light-background-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--subtle-background-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 112px; 
  background-color: var(--light-background-color);
  border-radius: 4px;
  margin-bottom: 8px;  
}



.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  gap: 24px;
}

.feature {
  width: calc((100% - 72px) / 4);
}

.about {
  padding-bottom: 120px;
}

.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.about-list {
  gap: 24px;
}

.about-card {
  width: calc((100% - 48px) / 3);
}

.cards {
  background-color: var(--light-background-color);
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.team-list {
  gap: 24px;
}

.card {
  background-color: var(--white-background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.card-data {
  padding: 32px 0;
}

.social-media-list {
  display: flex;
  justify-content: center; 
  gap: 24px; 
}

.social-media {
  width: 40px; 
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.media-link {
  width: 100%;
  height: 100%;
  background-color: var(--active-states-color);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.media-link:hover,
.media-link:focus {
  background-color: var(--pressed-state-color);
}

.card-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.card-text {
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-name {
  text-align: center;
}

.team {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.customers {
  padding: 120px 0;
  margin: 0 auto;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.customers-list {
  gap: 24px; 
}

.customer {
  width: calc((100% - 120px) / 6); 
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customers-link:hover,
.customers-link:focus {
color: var(--pressed-state-color);
border-color: var(--pressed-state-color);
}

.customer-icon {
  fill: currentColor;
}

.foo {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.foo-box {
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
  justify-content: space-between;
}

.logo-box {
  margin-right: 120px;
}

footer a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--active-states-color);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.foo-media-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px; 
}

.foo-media-list {
  display: flex;
  gap: 16px; 

}

.foo-media {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.accent {
  color: var(--light-background-color);
}

.foo-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-background-color);
  max-width: 264px;
}

.foo-icon {
  fill: var(--light-background-color);
}

.foo-link:hover,
.foo-link:focus {
background-color: var(--success-color);
}

.subscribe-container {
margin-left: 65px;
}

.subscribe-title {
  margin-bottom: 16px; 
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.user-email-input {
  width: 264px; 
  height: 40px; 
  border: 1px solid var(--white-background-color); 
  background-color: transparent; 
  font-size: 12px; 
  line-height: 1.5; 
  letter-spacing: 0.04em; 
  padding-left: 16px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
  border-radius: 4px; 
  color: var(--white-background-color);
}

.user-email-input::placeholder {
  color: var(--white-background-color);
}

.send {
  margin-left: 16px; 
  fill: var(--white-background-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center; 
  align-items: center;
  min-width: 165px; 
  height: 40px; 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden; 
  pointer-events: none; 
}

.modal {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) scale(1); 
  width: 408px; 
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-btn {
  position: absolute; 
  top: 24px; 
  right: 24px;
  width: 24px; 
  height: 24px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--subtle-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-background-color); 
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-title {
  font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5; 
  text-align: center; 
  letter-spacing: 0.02em; 
  color: var(--modal-color);
  margin-bottom: 16px; 
}

.label-container {
  margin-bottom: 8px; 
}

.user-name-label {
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: var(--subtle-text-color);
  display: block;
  margin-bottom: 4px;
}

.user-input-container {
  position: relative;
}

.user-name-input {
  width: 100%; 
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px; 
  background-color: transparent; 
  padding-left: 38px; 
  outline: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-input:focus {
  border-color: var(--active-states-color); 
}

.user-icon {
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.user-name-input:focus + .user-icon {
  fill: var(--active-states-color);
  
}

.user-comment-input {
width: 100%;
height: 120px; 
font-size: 12px; 
line-height: 1.17; 
letter-spacing: 0.04em; 
color: rgba(46, 47, 66, 0.4); 
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px; 
background-color: transparent; 
padding: 8px 16px; 
outline: transparent; 
resize: none; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.user-comment-input:focus {
  border-color: var(--active-states-color);
}

.comment-container {
  margin-bottom: 16px;
}

.terms-conditions-container {
  margin-bottom: 24px; 
}

.privacy-label {
  display: block; 
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: var(--subtle-text-color);
}

.check-privacy {
  width: 16px; 
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  fill: transparent; 
}

input[type='checkbox']:checked + .privacy-label > .check-privacy {
  border: none;
  background-color: var(--pressed-state-color);
  fill: var(--light-background-color);
}

.privacy-accent {
  color: var(--active-states-color);
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  transform: translateY(0%);
}

.portfolio-link:hover .overflow,
.portfolio-link:focus .overflow {
  transform: translateY(0%);
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-data {
  padding: 32px 16px;
  border: 1px solid var(--subtle-background-color);
  border-top: none;
}

.overflow {
  position: absolute; 
  top: 0; 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: var(--light-background-color);
  padding: 40px 32px; 
  background-color: var(--active-states-color);
  height: 100%;
  width: 100%; 
  transform: translateY(100%);
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
